###December 2019 versions###
  
#essential
setuptools==42.0.2
argparse

#tokenizer
pyvi==0.0.9.7
nltk


#deeplearning
#tensorflow==2.0.0
matplotlib
numpy
Pillow


#pytorch
torch
torchvision
